*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradlew #
.gradle/
/build/
*.launch
*.classpath
*.project
*.factorypath
/bin/
/run/
.settings/
/.apt_generated/
/.apt_generated_tests/
/Users/

!/gradle/wrapper/gradle-wrapper.jar